# my own configuration for vs code, my lovely editor, if someone of you want this, contact with me
.vscode

# turn off these for now
specs

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# vendor examples need to be removed, otherwise go build builds all examples 
vendor/**/examples
#vendor/**/*_test.go

# Jetbrains
.idea

# Coverage
.coverage.txt
